# server
*/.envrc
*/migrate.config
*/.air.toml
/server/tmp
/server/api/tmp

# dependencies
*/node_modules

# testing
*/coverage

# production
*/build

# misc
*/.DS_Store
*/*.pem

# env files
*/.env*
.envrc

# typescript
*/*.tsbuildinfo
